# Access to data

There are many ways to obtain data for analysis. Therefore, in this section we will discuss a few common methods of obtaining data:

* Downloading and importing smaller files such as csv or txt files.
* Using databases
* Access to data using APIs

This should only be understood as a small insight to get an idea of what ways of data access exist. Beyond that, many other possibilities exist. However, it is true for almost each of these ways that it can become more complex with increasing demands and one has to build up further knowledge for detailed ways and means.

## File import

One of the most common ways to get access to data is to share files. Common formats are csv or txt files, where usually each line corresponds to an observation and the variables are separated by commas or other separators.

In the cell below you can see how a csv file is read in using pandas. This works very similarly for txt files. Depending on how the data in the file is separated (e.g. space, comma, etc.), this must be explicitly specified when reading the file. For more detailed help on this, use the *help(pd.read_csv)* call. You can download the file from this example (then with current data) relatively easily yourself under this [link](https://finance.yahoo.com/quote/DAX/history?p=DAX) by clicking on the download button.

In [2]:
import pandas as pd

dax_df = pd.read_csv("../data/DAX.csv")
dax_df.head()

         Date   Open       High        Low      Close  Adj Close  Volume
0  2022-07-19  23.18  23.719999  23.170000  23.590000  22.978786   74900
1  2022-07-20  23.43  23.600000  23.280001  23.350000  22.745005   17100
2  2022-07-21  23.15  23.510000  23.150000  23.510000  22.900860    4900
3  2022-07-22  23.74  23.740000  23.330000  23.330000  22.725523    4700
4  2022-07-25  23.60  23.600000  23.340000  23.440001  22.832674    9000

## Databases

Saving and retrieving using csv, txt or similar file formats is not sufficient in some cases. For example, csv files reach their limit at about one million observations. This may seem like a lot, but in some cases it is not. In addition, it is often better to be able to structure data in a somewhat more complex form. For this purpose, databases can be used to retrieve data by means of a "query language". One of the best known languages for this purpose (for relational databases) is Structured Query Language - SQL. With this language specific values can be retrieved from the database by single commands. To give you a small example, the next three cells show how data can be written to a database and retrieved.

In [3]:
import sqlite3
import pandas as pd

# create a connection to the data base dax.sqlite
conn = sqlite3.connect("dax.sqlite")
# write data to the database with the help of the pandas to_sql method
dax_df.to_sql(con = conn, name = "ohlc", if_exists="replace")
conn.close()

In [5]:
import sqlite3

# retrieve data from the data base
# connect to database
conn = sqlite3.connect("dax.sqlite")
curs = conn.cursor()
# sql command for retrieving data
sql_query = "SELECT * FROM ohlc"
res = curs.execute(sql_query)
for i, line in enumerate(res):
    print(line)
    if i == 5:
        break
conn.close()

(0, '2022-07-19', 23.18, 23.719999, 23.17, 23.59, 22.978786, 74900)
(1, '2022-07-20', 23.43, 23.6, 23.280001, 23.35, 22.745005, 17100)
(2, '2022-07-21', 23.15, 23.51, 23.15, 23.51, 22.90086, 4900)
(3, '2022-07-22', 23.74, 23.74, 23.33, 23.33, 22.725523, 4700)
(4, '2022-07-25', 23.6, 23.6, 23.34, 23.440001, 22.832674, 9000)
(5, '2022-07-26', 23.040001, 23.139999, 22.93, 22.965, 22.36998, 3500)

In [6]:
import sqlite3

# retrieve data from database starting from a specific date using sql
conn = sqlite3.connect("dax.sqlite")
curs = conn.cursor()
sql_query = "SELECT * FROM ohlc WHERE Date>='2022-08-01'"
res = curs.execute(sql_query)
for i, line in enumerate(res):
    print(line)
    if i == 5:
        break
conn.close()

(9, '2022-08-01', 24.1, 24.209999, 23.771, 24.004, 23.382059, 44200)
(10, '2022-08-02', 23.82, 23.92, 23.639999, 23.639999, 23.027491, 18600)
(11, '2022-08-03', 23.940001, 24.08, 23.700001, 24.040001, 23.417128, 21600)
(12, '2022-08-04', 24.215, 24.32, 24.195, 24.23, 23.602203, 11200)
(13, '2022-08-05', 24.0, 24.15, 23.940001, 24.120001, 23.495054, 4200)
(14, '2022-08-08', 24.24, 24.35, 24.052, 24.156, 23.530123, 8000)

## APIs

Companies often share data on their servers using an application programming interface (API). You can think of this like a menu in a restaurant. The provider (the restaurant) has data on its server (the dishes in the kitchen). In order to order food, you need the information about the different dishes. These would be the endpoints of the API. If you know them, you will be able to place an order according to your wishes and, in the best case, you will immediately get the requested data. 

As a small example we use the Star Wars API. The following endpoints are available for example:

* https://swapi.dev/api/films
* https://swapi.dev/api/people 
* https://swapi.dev/api/planets
* https://swapi.dev/api/species
* https://swapi.dev/api/starships
* https://swapi.dev/api/vehicles

Now, if you need information about people from the Star Wars universe, you can use the https://swapi.dev/api/people endpoint. Using Python you send a GET request to order the data. You will get back the corresponding data in json format, which is very popular for this kind of data retrieval. Using pandas you can quickly and easily convert the data into a dataset that is easy to analyze.

In [7]:
import requests
import pandas as pd

# sending the GET request
r = requests.get("https://swapi.dev/api/people/")
# data in json-format
r.json()

{'count': 82,
 'next': 'https://swapi.dev/api/people/?page=2',
 'previous': None,
 'results': [{'name': 'Luke Skywalker',
   'height': '172',
   'mass': '77',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '19BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/14/',
    'https://swapi.dev/api/vehicles/30/'],
   'starships': ['https://swapi.dev/api/starships/12/',
    'https://swapi.dev/api/starships/22/'],
   'created': '2014-12-09T13:50:51.644000Z',
   'edited': '2014-12-20T21:17:56.891000Z',
   'url': 'https://swapi.dev/api/people/1/'},
  {'name': 'C-3PO',
   'height': '167',
   'mass': '75',
   'hair_color': 'n/a',
   'skin_color': 'gold',
   'eye_color': 'yellow',
   'birth_year': '112BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:10:51.357000Z',
   'edited': '2014-12-20T21:17:50.309000Z',
   'url': 'https://swapi.dev/api/people/2/'},
  {'name': 'R2-D2',
   'height': '96',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, blue',
   'eye_color': 'red',
   'birth_year': '33BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/8/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:11:50.376000Z',
   'edited': '2014-12-20T21:17:50.311000Z',
   'url': 'https://swapi.dev/api/people/3/'},
  {'name': 'Darth Vader',
   'height': '202',
   'mass': '136',
   'hair_color': 'none',
   'skin_color': 'white',
   'eye_color': 'yellow',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/13/'],
   'created': '2014-12-10T15:18:20.704000Z',
   'edited': '2014-12-20T21:17:50.313000Z',
   'url': 'https://swapi.dev/api/people/4/'},
  {'name': 'Leia Organa',
   'height': '150',
   'mass': '49',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '19BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/2/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/30/'],
   'starships': [],
   'created': '2014-12-10T15:20:09.791000Z',
   'edited': '2014-12-20T21:17:50.315000Z',
   'url': 'https://swapi.dev/api/people/5/'},
  {'name': 'Owen Lars',
   'height': '178',
   'mass': '120',
   'hair_color': 'brown, grey',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '52BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:52:14.024000Z',
   'edited': '2014-12-20T21:17:50.317000Z',
   'url': 'https://swapi.dev/api/people/6/'},
  {'name': 'Beru Whitesun lars',
   'height': '165',
   'mass': '75',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '47BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:53:41.121000Z',
   'edited': '2014-12-20T21:17:50.319000Z',
   'url': 'https://swapi.dev/api/people/7/'},
  {'name': 'R5-D4',
   'height': '97',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, red',
   'eye_color': 'red',
   'birth_year': 'unknown',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:57:50.959000Z',
   'edited': '2014-12-20T21:17:50.321000Z',
   'url': 'https://swapi.dev/api/people/8/'},
  {'name': 'Biggs Darklighter',
   'height': '183',
   'mass': '84',
   'hair_color': 'black',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '24BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/12/'],
   'created': '2014-12-10T15:59:50.509000Z',
   'edited': '2014-12-20T21:17:50.323000Z',
   'url': 'https://swapi.dev/api/people/9/'},
  {'name': 'Obi-Wan Kenobi',
   'height': '182',
   'mass': '77',
   'hair_color': 'auburn, white',
   'skin_color': 'fair',
   'eye_color': 'blue-gray',
   'birth_year': '57BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/20/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/38/'],
   'starships': ['https://swapi.dev/api/starships/48/',
    'https://swapi.dev/api/starships/59/',
    'https://swapi.dev/api/starships/64/',
    'https://swapi.dev/api/starships/65/',
    'https://swapi.dev/api/starships/74/'],
   'created': '2014-12-10T16:16:29.192000Z',
   'edited': '2014-12-20T21:17:50.325000Z',
   'url': 'https://swapi.dev/api/people/10/'}]}

In [8]:
# mittels pandas lassen sich die json Daten in eine DataFrame konvertieren
star_wars_pepole_df = pd.DataFrame(r.json()['results'])
star_wars_pepole_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

## Collecting financial data with yahoo finance

We are particluarly interested in financial data in this course. Most data providers for financial data are not free of charge. This is why we access data of the [yahoo finance homepage](https://finance.yahoo.com/) in this course to gather financial data which comes without any costs. However, one limitation which you should be aware of, is that yahoo finance does not provide data for companies which have been delisted of financial markets in the past. This introduces a surviorship bias into our data because the reason for delisting is usually related to a deterioration of the company's business. Thus, examining only surving companies may draw a too optimistic picture of the stock market's performance. Nevertheless, this is more of an issue if you would like to backtest investment real-life investment strategies and not too disadvantageous for our course.

Yahoo finance provides access to its data by a free API. However, its API is a bit complex, so we prefer to use a Python package directly that pulls data via the public API, but offers user-friendly features.

```{note}
Note: After changes in the home page structure or in case of connection problems, there may be problems despite correct code when referring via the yfinance package. If you get error messages with the code of the course when using this package, please contact me.
```

If you want to obtain data or information on individual companies via the package, it is important to know the ticker or symbol of the company. The ticker is the abbreviation of the company name under which the companies are traded on stock exchanges. The easiest way to find the ticker is to search for the company on the yahoo finance page. In most cases, the ticker is displayed immediately. If you enter the company name Apple in the search bar, the suggestion "AAPL" appears immediately, which is the ticker. 

With the help of this [documentation](https://pypi.org/project/yfinance/) you can get an impression of which data can be obtained. For example, past balance sheets, income statements or current news are available. Depending on the source of information, a suitable data format is selected.